albumentations==1.4.14
matplotlib==3.7.0
natsort==8.4.0
nibabel==5.3.0
numpy==2.1.2
opencv_python==4.10.0.84
pandas==2.2.3
print_dict==0.1.19
psutil==5.9.0
pydicom==3.0.1
scikit_learn==1.5.2
timm==1.0.9
torch==2.3.1
tqdm==4.66.3
